/* general */
*{ padding:0; margin:0;}
/* general */

/*#wrap{ width:100%; text-align:center; height:auto; min-height:100px; padding-top:2px;  }*/
/*@media screen and (min-width: 1000px) {
#wrapper{ margin:0 auto; height:inherit; min-height:inherit; width:1009px; }  1345px suma de los width de la maquetacion 

}*/
#wrapper{margin:0 auto; }

#real_body { 
	background-color:white; 
	border-radius:16px 16px 16px 16px; -moz-border-radius:16px 16px 16px 16px; -webkit-border-radius:16px 16px 16px 16px; 
	box-shadow:0px 0px 15px 4px #eee; -moz-box-shadow:0px 0px 15px 4px #eee; -webkit-box-shadow:0px 0px 15px 4px #eee;
	margin-top:2px; margin-bottom:8px; padding-top:6px; padding-bottom:8px;
}

#real_body #real_body_middle{ text-align:center;}
/*.menu_inner_fix{ margin-top:-5px; margin-left:25px;}*/

#real_body #real_body_middle #real_body_middle_inner_right .combo_small{ margin:0 auto; text-align:center; }
#real_body #real_body_middle #real_body_middle_inner_right .combo_small img{ margin:9px 0 0 10px; width:500px; }
.page-index .combo_small select{ margin:6px 0 0 9px; width:75%; max-width:400px; }
#real_body #real_body_middle #real_body_middle_inner_right .combo_large{ margin:0 auto; text-align:left; width:570px; height:33px;}

.page-index #map_preview_box{ margin:0 auto; width:526px; padding-top: /*height:349px;*/}
.page-index #map_preview_box  a.splash_continue_link{ float:right;margin:2px 10px 10px 0px;}
.page-index #map_preview_box #map_preview{ margin:0 auto; }
#real_body_middle-content { margin:0 40px; clear:both; }
#real_body  #real_body_footer{ height:30px;}
/**Template**/
/*HEADER*/
/*
#real_body #header { width:1006px; height:180px; }
#real_body #header img{ float:left; margin-left:25px; }
#real_body #header #header_right{ float:right;  width:730px; height:180px; margin-right:4px;}
#real_body #header #header_right h1{margin:12px 0 0 -125px;}
#real_body #header #header_right #combo_header{ margin:7px 0 0 33px; width:523px; height:23px;}
#real_body #header #header_right #big_box_header{ width:734px; height:73px; margin-top:4px;  width:734px; height:73px;}
#real_body #header #header_right #city_map_button_absolute{ position:absolute; margin:30px 0 0 545px;}
*/
#real_body #real_body_header { margin-left: 6px;}
/*#real_body #real_body_header #big_box_header{ width:746px; /*height:73px; float:left;margin-left: 13px;}*/
#real_body #real_body_header #header_cart_button{ cursor:pointer; float: right; margin-right: 6px; height:43px; width:10px;}
#real_body #real_body_header #header_cart_button img{ cursor:pointer; }

#real_body ul#template_top_menu{ float:right;  /*margin:0px -15px 0 17px;*/ text-align:center;}
#real_body ul#template_top_menu li{ list-style:none; float:left; background-color:#4F6228; line-height:25px; height:25px; }
#real_body ul#template_top_menu li a{ padding:5px 14px 4px 14px; line-height:25px; height:25px; margin:0;}
#real_body ul#template_top_menu li.forfill{ width:25px;}

#real_body ul#deals_menu{ /*float:right;*/  margin:0px 40px 0 0; }
#real_body ul#deals_menu li{ list-style:none; float:right;  /*line-height:25px;*/ height:25px; }
/*#real_body ul#deals_menu li a{ padding:5px 14px 4px 14px; line-height:25px; height:25px; margin:0;}*/
#real_body ul#deals_menu li.forfill{ width:25px;}

/*#real_body #real_body_top ul#template_top_menu li.forfill:before{content: "\0000a0";}*/
/*HEADER*/
/**Template**/
/**BODY MAPS**/
#real_body #real_body_middle #middle_mapandcheck{  width:100%; height:auto; clear:both; float:none; }
#real_body #real_body_middle #middle_mapandcheck #left_check{  width:202px; /*height:952px;*/ float:left; margin: 0 0 0 22px; padding:5px 0 5px 0;}
#real_body #real_body_middle #middle_mapandcheck #left_check #combo_box_categories{ width:190px; height:25px; margin:6px 0 0 9px;}
#real_body #real_body_middle #middle_mapandcheck #left_check .category_title{ width:183px; /*height:30px;*/  margin:8px 0 5px 14px; /*padding-top:3px*/ display:none;}
#real_body #real_body_middle #middle_mapandcheck #left_check #checkboxes_div{ width:183px;  margin:10px 0 0 14px; height:360px;}
#real_body #real_body_middle #middle_mapandcheck #left_check #box_start_end{ width:160px; /*height:102px;*/ margin:1px 0 0 11px; text-align:left; /*padding:0; padding-left:10px!important; padding-top:10px!important;*/ padding-bottom:6px!important;}
#real_body #real_body_middle #middle_mapandcheck #left_check #box_start_end .combo_start_end{ height:23px; width:159px; margin-bottom:7px;}
#real_body #real_body_middle #middle_mapandcheck #left_check #box_start_end .combo_start_end select{ width:153px; margin:3px 0 0 3px; font-size:12px;}
#real_body #real_body_middle #middle_mapandcheck #left_check #combo_box_type{width:190px; height:25px; margin:8px 0 0 9px; text-align:left;}
#real_body #real_body_middle #middle_mapandcheck #left_check #combo_box_type select{ width:178px; margin:4px 0 0 7px; font-size:12px;}
#real_body #real_body_middle #middle_mapandcheck #left_check #box_step_4{ width:200px; margin:10px 0 15px 0; }
#real_body #real_body_middle #middle_mapandcheck #left_check #box_step_4 #number_4{ height:55px; width:55px; margin-left:10px; float:left;}
#real_body #real_body_middle #middle_mapandcheck #left_check #box_step_4 span.draw_text{ float:right; margin-right:40px; margin-top:2px;}
#real_body #real_body_middle #middle_mapandcheck #left_check #box_step_4 #myezplan_button{ }
#real_body #real_body_middle #middle_mapandcheck #right_map_box
{ width:746px; height:640px; float:right; margin:0px 20px 0px 0px; border:1px solid #ddd; border-radius:10px 10px 10px 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px 10px 10px 10px;}
#real_body #real_body_middle #middle_mapandcheck #right_map_box .loadi
{width:738px; height:632px; position:absolute; margin:4px; background-color:#FFFFFF; color:#666666; z-index:1001;text-align:center;}
#real_body #real_body_middle #middle_mapandcheck #right_map_box .loadi img{ max-width:738px; max-height:632px;}
#real_body #real_body_middle #middle_mapandcheck #right_map_box .map
{width:738px; height:632px; position:relative; margin:4px; z-index:1000;}

#overlay_map{width:158px; height:158px; border: solid 3px #FFFFFF; border-width: 3px 3px 3px 3px; visibility:hidden;}
#lupa{	display:block; position:absolute;; cursor:pointer; background-image:url(images/zoom.png); height:52px; width:147px; margin:10px 20px 20px 589px;}
#globo{	background-color:white; border:solid thin lightgray; width:310px; height:230px; position:absolute; top:300px; z-index:1111; padding:15px 15px 0 15px; display:none; }
#globo {font-size:0.95em;text-align:center;}
#globo .g_content dd, #globo .g_content dt {min-height:18px;}
#globo .g_image{max-width:160px;float:left;}
#globo .g_image img{max-width:155px;margin:0;}
#globo .g_content{float:left;width: 152px;}
#globo .g_content dt{font-weight:bold;color:#900;font-size:1.15em;}
#globo .g_content dd {padding:0;width:100%;}
#globo .g_content dd.tiptype {margin-top:3px;}
#globo .g_footer{font-size:1.15em;text-align:justify;}
#globo .g_footer_icon{color:black;font-weight:bold;text-align:center;margin-top:6px;}
#globo .g_footer_icon img.tipicon{max-width:30px;max-height:30px;margin:0;vertical-align: middle;}
#globo2{	background-color:white; border:solid thin lightgray; width:310px; height:300px; position:absolute; top:60px; right:300px; z-index:1111; padding:25px 35px 10px 25px; display:none; }
#globo2 {font-size:0.95em;text-align:center;}
#globo2 .g_content dd, #globo .g_content dt {min-height:18px;}
#globo2 .g_image{max-width:160px;float:left;}
#globo2 .g_image img{max-width:155px;margin:0;}
#globo2 .g_content{float:left;width: 152px;}
#globo2 .g_content dt{font-weight:bold;color:#900;font-size:1.15em;}
#globo2 .g_content dd {padding:0;width:100%;}
#globo2 .g_content dd.tiptype {margin-top:3px;}
#globo2 .g_footer{font-size:1.15em;text-align:justify;}
#globo2 .g_footer_icon{color:black;font-weight:bold;text-align:center;margin-top:6px;}
#globo2 .g_footer_icon img.tipicon{max-width:30px;max-height:30px;margin:0;vertical-align: middle;}
/*#Selections_{
	position: absolute;
	top: 374px;
	left: 26px;
}*/
/*
.loadi{	display:block; }
.loadi img{}
*/
#real_body #real_body_middle #middle_mapandcheck #right_bottom_steps
{ width:744px; height:104px; float:right; margin:13px 20px 0 0; clear:right; text-align:left !important;}
#real_body #real_body_middle #middle_mapandcheck #right_bottom_steps #number_5{ position:absolute; margin:28px 0 0 50px;}
#real_body #real_body_middle #middle_mapandcheck #right_bottom_steps ul#button_steps{ margin:20px 0 0 60px;}
#real_body #real_body_middle #middle_mapandcheck #right_bottom_steps ul#button_steps li {list-style:none; float:left; margin-left:100px; margin-top:14px;}
#button_steps-itinerary{ cursor:pointer; background-color:#10253f; padding:8px 0; width:88px; height:40px; color:white; text-align:center; font-weight: bolder; border:solid thick #f2f2f2;}

#real_body #real_body_middle #middle_mapandcheck #right_bottom_steps #save_box_steps{  height:24px; width:189px; position:absolute; margin:60px 0 0 120px;}
#real_body #real_body_middle #middle_mapandcheck #right_bottom_steps #print_box_steps{ position:absolute;  /*height:24px; width:189px; position:absolute; margin:60px 0 0 320px;*/}
#mostr_dir{ margin:4px 0 0 -45px; width:182px; font-size:12px;}
ul#button_steps li{ cursor:pointer; }
.titleseszplan { font-weight:bolder; font-size:2em; color: #4F6228; font-size-adjust:inherit; font-stretch:expanded;font-smooth:always; }
.titleseszplan a {color: #4F6228;}
.titleseszplanshadow { text-shadow:-2.5px 2.5px 0px #eee; }
/* from mapcity */
#real_body #real_body_middle #middle_mapandcheck #right_bottom_steps #number_5{ margin:28px 0 0 10px;}
#real_body #real_body_middle #middle_mapandcheck #right_bottom_steps ul#button_steps{ margin:26px 0 0 10px;}
#real_body #real_body_middle #middle_mapandcheck #right_bottom_steps ul#button_steps li{ margin-left:70px; margin-top:8px;}
#real_body #real_body_middle #middle_mapandcheck #right_bottom_steps #number_6{ position:relative; margin: 0 0 0 30px;}
#real_body #real_body_middle #middle_mapandcheck #right_bottom_steps #button_steps-itinerary{ position: relative; margin: -5px 0 0 10px; display: inline-block; vertical-align: top;}
/* /from mapcity */

/**BODY MAPS**/
/**Footer**/
#big_footer{  width:100%; height:10%; margin-top:14px;}
/*#big_footer #footer_box{ background-image:url(../images/footer_box.png); background-repeat:no-repeat; width:205px; height:245px; margin:1px 2px 3px 23px; float:left;}*/
/*#big_footer #large_box_footer{ background-image:url(../images/large_box_footer.png); background-repeat:no-repeat; width:747px; height:102px; float:right; margin-right:20px;}*/
/*#big_footer #footer_mark{ height:45px; width:758px; float:right; margin:16px 21px 0 0; background-color:#4F6228;}*/
#big_footer #footer_mark .followus{  float:right;}
#big_footer #footer_menu{ /*width:auto;*/ height:66px; /*float:left;*/ margin:17px 20px 0 0;}
#big_footer #footer_menu ul#footer_menu_list{ background-color:#666666; /*width:600px;*/ margin:15px 0 0 60px;}
#big_footer #footer_menu ul#footer_menu_list li{ list-style:none; float:left; margin-left:30px; width:150px;  text-align:left; }
#big_footer #footer_menu ul#footer_menu_list li a{  text-decoration:none; font-size:15px; }
/**Footer**/
/* css creado para popups */
/* -------- */
.mask {display: none;background-color: #111; left: 0; top: 0; z-index: 1501; width: 100%; height:100%; -moz-opacity:0.8; opacity:.80; filter: alpha(opacity=80); position:fixed;}
.mask-faq {display: none;background-color: #111; left: 0; top: 0; z-index: 1501; width: 100%; height:100%; -moz-opacity:0.7; opacity:.70; filter: alpha(opacity=80); position:fixed;}
.mask-loading {display:none; background-color:#eee; z-index: 1501; -moz-opacity:0.85; opacity:.85; filter: alpha(opacity=85); position:absolute;}
.mask-loading-image {position:relative; top:50%; left:50%; float:left; text-align:center;}
/* -------- */
/* -------- */
/*@media screen and (min-width: 1000px) {
div.popup-inside, div.popup-inside-in { display:none; background: #fff;  padding: 10px; border: 2px solid #ddd; float: left; position: fixed; top: 5%; left: 50%; z-index: 1502; margin-left:347px; }
}*/
/*@media screen and (max-width: 600px) {
	div.popup-inside, div.popup-inside-in { height:95%; max-height:450px; overflow-y:scroll;
		
		}
}*/
div.popup-inside-faq { display:none; min-width:380px; min-height:150px; padding: 10px; border: 2px solid #ddd; float: left; position: fixed; top: 5%; left: 50%; z-index: 1502; border-radius:5px 5px 5px 5px; }
div.popup-inside, div.popup-inside-in { display:none; background: #fff;  /*padding: 10px;*/ border: 2px solid #ddd; float: left; position: absolute; top: 0; left: 0; right:0; max-width:500px;  margin: 0 auto; /*margin-left:-45%;*/ width:90%;  z-index: 1502; }
div.popup-inside-in2 { display:none; background: #fff; width:200px; min-height:150px; padding: 10px; border: 2px solid #ddd; float: left; position: fixed; top: 30%; left: 58%; z-index: 1502; text-align:center;}
div.popup-inside-in3 { display:none; background: #fff; min-width:200px; min-height:150px; padding: 10px; border: 2px solid #ddd; float: left; position: fixed; top: 5%; left: 50%; z-index: 1502; }
div.popup-inside_f { display:none; background: #fff;  /*padding: 10px;*/ border: 2px solid #ddd; float: left; position: absolute; top: 0; left: 0; right:0; max-width:730px;  margin: 0 auto; /*margin-left:-45%;*/ width:90%;  z-index: 1502; }
div.popup-inside-round	{ box-shadow: 0px 0px 20px #999; -moz-box-shadow: 0px 0px 20px #999; -webkit-box-shadow: 0px 0px 20px #999; border-radius:22px 22px 22px 22px; -moz-border-radius: 22px; -webkit-border-radius: 22px; }
div.popup-inside-square	{ box-shadow: 0px 0px 20px #999; -moz-box-shadow: 0px 0px 20px #999; }
div.popup-inside-absolute{position:absolute;/*top:40%;*/}
/*  */
div.popup-inside a.close { float: right; margin: 10px 10px 0 0; font-family:Verdana, Geneva, sans-serif; font-weight:bolder; font-size:x-large; color: #807C7C;}
div.popup-inside a.closesmall { float: right; margin: 10px 15px 0 0; font-family:Verdana, Geneva, sans-serif; font-weight:bolder; font-size:22px; color: #807C7C;}
div.popup-inside .box-header img.img_logo { float:left; /*margin: 0 0 10px 10px;*/}
div.popup-inside .box-header h1{ text-align:center; padding-top:12px; }
div.popup-inside .box-header .title a { font-size:medium; color:#2288EE; }
/*  */
div.popup-inside .box-body{ margin:10px 10px 1px 10px; clear:both;}
div.popup-inside .box-body form { width:98%; }
/*  */
div.popup-inside .box-body-form { clear:both; }
div.popup-inside .box-body-form .label_td{ width:100px; height:33px; vertical-align:top; }
div.popup-inside .box-body-form .input_td{ width:191px; vertical-align:top; background-image:url(../images/login_input.png); background-repeat:no-repeat; }
div.popup-inside .box-body-form .input_td input{ width:185px; height:17px; line-height:17px; border:none; margin:2px 0 0 2px;}
div.popup-inside .box-body-form textarea{ width:188px; height:120px;}
/*  */
div.popup-inside .box-body .body-table {  margin:0; padding:0; width:100%; clear:both; }
div.popup-inside .box-body .body-table tr { vertical-align:top; }
div.popup-inside .box-body .body-table th, div.popup-inside .box-body .body-table td  { text-align:left; }
div.popup-inside .box-body .body-table .label_td{ width:100px; }
div.popup-inside .box-body .body-table .input_td{ width:190px; }
/*  */
div.popup-inside .box-footer  { text-align: right; margin: 10px 10px 0 0;}
/* -------- */
/*.sharebox { margin-left:5%; }*/
/* -------- */
.message { color:#990000; font-size:small; text-align:center; }
.message-error { display:none;}
.message-above { color:black; font-size:small; text-align:center; font-weight:bold; }
.message-agree { font-size:15px; color:#333333; text-align:center; margin:10px 0; }
.message-agree a { color:#2288EE; }
/*  */
.body-rounded-10 { padding:10px 10px 10px 10px; border:1px solid #ddd; border-radius:10px 10px 10px 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px 10px 10px 10px;  }
/* -------- */
/* Other uses */
a img{ border:0;}
.title_images_check{ margin-top:10px; }
.margin_top_10{ margin-top:10px; }
.margin_top_20{ margin-top:20px; }
.margin_top_30{ margin-top:30px; }
.padding_top_10{ padding-top:10px;}

.watermark { color: #ccc; font-weight:100; }
.hidden{display:none !important;}
.cursor{cursor:pointer !important;}
.cursorhelp{cursor:help !important;}
.bold{font-weight:bold !important;}
.textredmyezplan{color:#CC0000 !important;}
.textredmyezplan2{color:#990000 !important;}
.textgreenmyezplan{color:#4F6228 !important;}
.textleft{ text-align:left !important;}
.textcenter{ text-align:center !important;}
.textright{ text-align:right !important;}
.textlinkblue1 { color:#2288EE !important; }
.font120{ font-size:120% !important; }
.font115{ font-size:115% !important; }
.font110{ font-size:110% !important; }
.font90{ font-size:90% !important; }
.font85{ font-size:85% !important; }
.font80{ font-size:80% !important; }
.font75{ font-size:75% !important; }
.font70{ font-size:70% !important; }
.numberdecimal, .numberinteger, .numberhour{text-align:right;}
.clearleft{ clear:left !important; }
.clearboth{ clear:both !important; }
.clearright{ clear:right !important; }
.capitalize{text-transform:capitalize !important;}
/*.title { text-align:center; }*/
.floatleft{ float:left !important;}
.floatright{ float:right !important;}
.floatnone{ float:none !important;}

.combo_category{ width:178px; margin:4px 0 0 1px; border:none; padding:-1px; overflow:visible; padding:0; font-size:12px;}
.check_boxes_fix{ overflow-y:auto; margin-left:10px; width:187px; height: 250px; font-size:13px; display:none; }
.check_boxes_fix .text{ background-color:transparent; }
.check_boxes_fix .textinfo:hover{ background-color:#F3F3F3; }
.input{ border:solid #F2F2F2 medium; border-radius:6px 6px 6px 6px; -moz-border-radius: 6px; -webkit-border-radius:6px; margin:0; }
.select { border:solid #F2F2F2 medium; }
.asinput { border:solid #F2F2F2 thin; border-radius:3px 3px 3px 3px; -moz-border-radius: 3px; -webkit-border-radius:3px; padding:3px 1px 3px 3px;}
.input-190 { width:190px; }
.textarea-190 { width:190px; height:120px;}
.submit-button { float:right; min-width:80px; display:compact; text-align:center; background-color:#17375E; color:white; font-size:medium; font-weight:bold; border: ridge medium #F2F2F2; border-radius:20px 20px 20px 20px; -moz-border-radius: 20px; -webkit-border-radius:20px; margin: 2px; padding: 3px 8px; cursor:pointer; }
.submit-buttondisabled { cursor:default; moz-opacity:0.8; opacity:.80; filter: alpha(opacity=80); background-color:gray; }
.button-round-red, .button-round-blue, .button-title-round-green 
{ display: inline-block; text-align:center; font-size:medium; font-weight:bold; background-color:#17375E; color:white; border:ridge medium #F2F2F2; border-radius:20px 20px 20px 20px; -moz-border-radius: 20px; -webkit-border-radius:20px; margin: 2px; padding: 3px 16px;  cursor:pointer;}
.button-round-2
{display: inline-block; text-align:center; font-size:medium; font-weight:bold; color:white; border:solid medium #F2F2F2; border-radius:20px 20px 20px 20px; -moz-border-radius: 20px; -webkit-border-radius:20px; margin: 3px 0 0 0; padding: 3px 16px; cursor:pointer;}
.button-round-red2
{ background-color:#C00000;}
.button-round-green2 
{ background-color:#4F6228;}
.button-round-blue2
{ background-color:#17375E; }
.button-round-gray2
{ background-color:#F2F2F2; }
.button-round-lgray2
{ background-color:lightgray; }
.button-round-lgray3
{font-size:12px; background-color:lightgray; }
.button-round-blue-sign{ cursor:pointer; text-align:center; font-size:medium; font-weight:bold; border-radius:20px 20px 20px 20px; -moz-border-radius: 20px; -webkit-border-radius:20px; margin: 2px; padding: 3px 14px; background-color:#17375E; color:white; border: ridge medium #F2F2F2;}
.button-round-blue3{font-size:12px; background-color:#17375E;}
.button-round-red3{font-size:12px; background-color:#C00000;}
.button-round-green3{font-size:12px; background-color:#4F6228;}
/* -------- */
/*.myitin *{font-size:small;}*/
.myitin {text-align:start; min-height:250px;font-size:small;}
.myitin .accordion {}
/*.myitin .accordion-resizer { padding:10px; min-height:250px;}*/
.myitin .summarybox { margin:8px 0 8px; }
.myitin .namebox { margin:8px 0; padding-left:10px;}
.myitin .daybox { /*margin:20px 0; border: solid lightgray thin; padding: 3px;*/ }
.myitin .daybox-title { font-weight:bold; /*padding-left:10px;*/ }
.myitin .daybox-content {padding-left:20px !important; margin: 2px 0 6px;}
.myitin .daybox-content .description{ color:black; }
.myitin .daybox-content .description2{ color:white; }
.myitin .daybox-content a.close { float: right; margin: 0; font-family:Verdana, Geneva, sans-serif; font-weight:bolder; font-size:x-large; color: #F2F2F2; display:inline-block;}
.myitin .daybox-plan {background-color:#7C8891 !important; color:white;}
.myitin .daybox-deal {background-color:#C3D69B !important;}
.myitin .daybox-planpersonal {background-color:darkslategray !important;color:white !important;}
.myitin .daybox-content h2 { cursor:move; }
.myitin	.button-title { text-align:center; font-size:1.2em; font-weight:bold; min-width:180px; border-radius:7px 7px 7px 7px; -moz-border-radius: 7px; -webkit-border-radius:7px; margin: 2px; padding: 6px 20px; background-color:white; border:solid medium #F2F2F2; color:#4F6228; display: inline-block;}
.myitin .rouned{}
.myitin	.text-notes{padding:3px 10px; width:90%;}
.myitin	.text-name{padding:2px 8px; width:20em;}
.myitin	.ui-sortable-helper { }
.myitin	.ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; height: 50px !important; background-color:#4F6228 !important; }
.myitin	.ui-sortable-placeholder * { visibility: hidden; }
/* -------- */
/*@media screen and (min-width: 900px) {
.alone_menu{ float:left; width:290px; height:246px; margin:25px 12px 0 55px; }
}*/
/*@media screen and (max-width: 900px) {
.alone_menu{ float:left; text-align:center; width:240px; height:246px;  }
}
*/



/*@media screen and (min-width: 900px) {
.alone_menu ul.alone_top_menu{ margin:14px 0 0 17px; text-align:center;}
}*/

.alone_menu ul.alone_top_menu{ margin:14px 0 0 0px; text-align:center;}
.alone_menu ul.alone_top_menu li{ float:left; list-style:none; margin-left:14px; text-align:center;  }
.alone_menu img{ margin-top:10px;}
.alone_menu ul.alone_bottom_menu{ margin:8px 0 0 18px;}
.alone_menu ul.alone_bottom_menu li{ float:left; list-style:none; margin-left:8px; }


.wrap ul.alone_bottom_menu{ margin:8px 0 0 18px;}
.wrap ul.alone_bottom_menu li{ float:left; list-style:none; margin-left:8px; }
/* -------- */
.body-table-2 { margin:0; padding:0;}
.body-table-2 tr { vertical-align:top; }
.body-table-2 th { vertical-align:middle;}
.body-table-2 th, .body-table-2 td { }
.body-table-2 th { padding-bottom:6px; font-size:11px; }
.body-table-2 td { text-align:center; padding:1px 1px 3px; }
/* -------- */

/**Footer client **/
#real_body_footer-client { height:auto; margin: 20px 10px 30px 0;}
#real_body_footer-client #footer_mark{ height:45px; margin:0; background-color:#4F6228;}
#real_body_footer-client #footer_mark .followus{  float:right;}
#real_body_footer-client #footer_mark .h3footer{ color:white; float:right; margin: 10px 30px 0 0; text-align:right; font-size:1.2em;}
/**Footer client **/

/** jqueryui base **/
.ui-tabs-nav{ font-size:0.8em !important;}
.ui-tooltip{ font-size:0.8em !important;}

#faq-box .list { list-style:none;}
#faq-box .list li {margin-left:10px;}

#stepitinerary-box .box-body { width:400px; text-align:left; }
#stepitinerary-box .box-header .box-header-subtitle {font-size: 0.8em; margin-left: -30px;}
.myitinerary-step-list { list-style:none; margin-left: 100px;}


label {
    display: inline;
}

	.squaredTwo {
    display: none;
}
 
.squaredTwo + label {
    background-color: #fafafa;
    border: 3px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
}
 
.squaredTwo + label:active, .squaredTwo:checked + label:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
 
.squaredTwo:checked + label {
    background-color: #e9ecee;
    border: 3px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: #99a1a7;
}
 
.squaredTwo:checked + label:after {
    content: '\2714';
    font-size: 14px;
    position: absolute;
    top: -4px;
    left: 3px;
    color: black;
}
 
.squaredTwo + label {
    padding: 10px;
}

.squaredTwoGrande + label {
    padding: 16px !important;
}

.squaredTwoMediano + label {
    padding: 14px !important;
}
 
 
.squaredTwo:checked + label:after{
    font-size: 22px;
    /*left: 10px;*/
}


.roundTwo {
    display: none;
}
 
.roundTwo + label {
    background-color: #fafafa;
    border: 3px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 9px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
}
 
.roundTwo + label:active, .roundTwo:checked + label:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
 
.roundTwo:checked + label {
    background-color: #e9ecee;
    border: 3px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: #99a1a7;
}
 
.roundTwo:checked + label:after {
    content: '\2714';
    font-size: 14px;
    position: absolute;
    top: -4px;
    left: 3px;
    color: black;
}
 
.roundTwo + label {
    padding: 10px;
}
 
.roundTwo:checked + label:after{
    font-size: 22px;
    /*left: 10px;*/
}

#addto_box_label{
	position:relative;
	top:-7px;
	}
	
/*@media screen and (max-width: 500px) {
#title_forget{ margin-right:65px;}
}*/
#header_text{ font-size:22px;}

@media screen and (min-width: 400px){
#header_text{margin-top:-5%;}
}
#map-top-button-faq{ margin-top:-5px; 
					 display:inline;
}
#more_opt_login { position:absolute; z-index:10000;}
#more_opt_login li{ float:none !important;}
#btn_more_login{ float:right;}
#btn_more_login{ cursor:pointer; 
				 font-size:20px;
				 border: solid #CCCCCC;
				 border-width: thin;
			     padding: 1px 4px;
			     border-radius: 4px 4px 4px 4px;
				 height:25px;
				}
#btn_more_login img{ margin-top:30%;}

#more_opt_login1 { position:absolute; z-index:10000;}
#more_opt_login1 li{ float:none !important;}
#btn_more_login1{ float:right;}
#btn_more_login1{ cursor:pointer; 
				 font-size:20px;
				 border: solid #CCCCCC;
				 border-width: thin;
			     padding: 1px 4px;
			     border-radius: 4px 4px 4px 4px;
				 height:25px;
				}
#btn_more_login1 img{ margin-top:30%;}

#li_deals{ background-color:#C00000 !important;}
#li_deals:hover{ background-color:#FA5A5A !important;}
.font30{ font-size:25px !important;}
.click_menu_intem{font-weight:bold; font-size:14px; text-decoration:none; color:#FFFFFF; padding:0 5px;}	
.click_menu_intem:hover{background-color:#C3D69B;}
.icons_plan img{ width:30px; max-width:100px !important; padding:3px;}
#myuserplan-box h1{ font-size:22px;}
.moreolessicon {
				background-image: url('../images/mas.png');
				background-repeat: no-repeat;
				background-position: center;
				cursor: pointer;
				width: 40px;
				font-size: 25px;
}