.light_box_sign{background-color:white;padding:10px 10px 17px 10px;border:1px solid #d2cece;box-shadow:0 0 20px #999;-moz-box-shadow:0 0 20px #999;-webkit-box-shadow:0 0 20px #999;border-radius:19px 19px 19px 19px;-moz-border-radius:19px;-webkit-border-radius:19px;}
.light_box_sign .box-header a.close{float:right;margin:10px 10px 0 0;font-family:Verdana,Geneva,sans-serif;font-weight:bolder;font-size:x-large;color:#807c7c;}
.light_box_sign .box-header img.img_logo{float:left;margin:0 0 0 10px;}
.light_box_sign .box-header h1{text-align:center;padding-top:12px;}
.light_box_sign #singbutton{margin:5px 23px 0 0;cursor:pointer;float:right;}
.button-round-blue-sign{margin:5px 23px 0 0;cursor:pointer;float:right;text-align:center;font-size:medium;font-weight:bold;cursor:pointer;border-radius:20px 20px 20px 20px;-moz-border-radius:20px;-webkit-border-radius:20px;margin:2px;padding:3px 14px;background-color:#17375E;color:white;border:ridge medium #F2F2F2;}
#light_box_cont_signin_in{width:90%;max-width:336px;margin:0 auto;}
#light_box_cont_signin_in #wait_msg{font-size:15px;color:#CCC;text-align:center;padding-left:90px;}
#light_box_cont_signin_in #for_msg{font-size:15px;color:#CCC;text-align:center;}
#light_box_cont_signin_in #inc_msg{display:none;}
#light_box_cont_signup_in{width:90%;max-width:336px;margin:0 auto;}
#light_box_cont_signup_in #wait_msg{font-size:15px;color:#CCC;text-align:center;}
#light_box_cont_signup_in #for_msgr{font-size:15px;color:#333;text-align:left;}
#light_box_cont_signup_in #for_msgr a{color:#28E;}
#light_box_cont_signup_in #inc_msgr{display:none;}
#light_box_cont_signup_in #divbr{background-color:#FFF;width:110px;height:36px;position:relative;margin:0;left:110px;float:right;moz-opacity:.8;opacity:.80;filter:alpha(opacity=80);}
#light_box_cont_forgot_in{width:90%;max-width:336px;margin:0 auto;}
#light_box_cont_forgot_in #wait_msgf{font-size:12px;text-align:center;padding-left:100px;margin:5px 0;}
#light_box_cont_forgot_in #inc_msgf{display:none;}
@media only screen and(max-width:330px){.light_box_sign .box-header h1{padding-left:0!important;}
#light_box_cont_forgot_in #wait_msgf{padding-left:80px!important;}
}#light_box{display:none;width:100%;height:100%;z-index:1601;background-color:#111;-moz-opacity:.8;opacity:.80;filter:alpha(opacity=80);position:fixed;}
#light_box_cont_signin,#light_box_cont_signup,#light_box_cont_forgot{display:none;z-index:1602;position:absolute;width:100%;height:100%;padding-top:30px;}
#wait_msg a,#for_msg a{color:#28e!important;}
.table_boxes .label_td{width:100px;height:33px;vertical-align:top;}
.table_boxes .input_td{background-image:url(../images/login_input.png);background-repeat:no-repeat;width:191px;height:23px;vertical-align:top;}
.table_boxes .input_td2{width:191px;height:23px;vertical-align:top;}
.table_boxes .input_td INPUT{width:182px;height:16px;line-height:16px;border:none;margin:2px 0 0 2px;}
.required{color:#900;}
.required-bg1{background-color:salmon;}
.required-bg2{background-color:lightyellow;}
.radio_td{width:50px;text-align:center;}
.table_boxes input,.table_boxes select{border-radius:5px;-webkit-background-size:1600px 32px;background:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#eee));-moz-box-shadow:0 3px 0 #ccc,0 -1px #fff inset;background:#f8f8f8;height:30px;border:1px solid #eee!important;width:100%!important;}
.input_td{background-image:none!important;height:20px!important;}
.table_boxes .input_td INPUT{width:100%!important;height:20px!important;}
.table_boxes .label_td{height:initial!important;}
.table_boxes #check_mail,.table_boxes #check_reg{width:10%!important;vertical-align:middle;float:left;}
.center_text{text-align:center;}