@charset "utf-8";
/* CSS Document */
#imagenes_ img{width:70%;}
#tabinfopanel {font-size:0.8em; padding:0; margin:0;margin-top:10px;}
#tabinfopanel a{color:#990000; text-decoration:underline;}
#tabinfopanel .substitution{color:#990000;}
#tabinfopanel .placename{font-size:1.28em;text-align:center;margin-bottom:3px;font-weight:bold;}
#tabinfopanel .infoheader{font-size:1em;}
/*@media screen and (min-width: 1000px) {
#tabinfopanel .tabsx { width:650px; overflow:hidden;}
}*/
#tabinfopanel .tabsx .content p{clear:both;}
#tabinfopanel .tabsx .tabs {font-size:1.0em; width:100%; text-align:center}
#tabinfopanel .tabsx .tabs ul{float:none;display:inline-block;list-style-type:none;border:1px solid #f2f2f2;padding:5px; /*margin-left:15%;*/}
#tabinfopanel .tabsx .tabs ul li{/*float:left;*//*margin-right:5px; line-height:18px; width:100px; padding-bottom:5px;*/ display:inline-block;}
#tabinfopanel .tabsx .tabs ul li.ultimoli{ float:left;}
#tabinfopanel .tabsx .tabs ul li a{ display:block; /*background-color:#AAAAAA;*/ color:#FFFFFF; text-align:center; text-decoration:none;}
#tabinfopanel .tabsx .tabs ul li a:hover{ /*background-color:#999999;*/}
#tabinfopanel .tabsx .clearboth {line-height:6px;}
#tabinfopanel .tabsx .contents {}
@media screen and (min-width: 400px) {
#tabinfopanel .tabsx .contents .content{display:none;font-size:1.2em; width:100%; margin:0 auto;}
}
#tabinfopanel .tabsx .contents .content{display:none;font-size:1.2em;}
#tabinfopanel .tabsx .contents #tabinfo-review-content{font-size:1.0em;}

#tabinfopanel #tabinfo-deal-content{width:100%;}
#tabinfopanel #tabinfo-deal-tab{/* background-color:#C00000;*/}
#tabinfopanel #tabinfo-deal-content2{width:97%;}
#tabinfopanel #tabinfo-deal-tab2{ background-color:#C00000;}

#counter {background-color:#ADC1A2;}
#prices {font-weight:bold;margin-top:5px;}
#_OR_ {font-weight:bold;}
#Rprice { text-decoration:line-through; color:#999;}
#Price {color:#c00000;}
#line {color:#FFFFFF;}
#tdprices {vertical-align:middle;}
#prntinfo { font-size:10px; color:#c00000;}
#Titleinfo {font-size:12px; font:bold; color:#c00000;}
#prov_titles_ { color:#2288EE; font-size:14px; }

.stars{ font-size: 22px; margin: 20px 0 0 100px; position: absolute; }
.stars-popup{ font-size: 22px; text-align:center; margin:0;}
.stars_negro{ color:#000000;}
.underline{text-decoration:underline;}
.lowhigh{ position:absolute; margin:47px 0 0 340px; font-size:11px; font-weight:bold;}
.lowhigh-popup{ font-weight:bold;}
.starsugg{ position:absolute; margin:165px 0 0 60px; font-size:13px; font-weight:bold;}
.starsugg-popup{ font-size:13px; font-weight:bold; text-align:center; margin-top:20px;}
.starsugg a, starsugg-popup a{ color:#D9D9D9;}
.tablehotdeal { width:100%; vertical-align:top; }
.tablehotdeal td { vertical-align:top; text-align:justify; }
a.adcarta{ /* position:absolute; margin:0px 0 0 480px; */ border:none; display:block;}
a.checka{ /* position:absolute; margin:40px 0 0 470px; */ border:none; display:block;}
a.nulla{ /* position:absolute; margin:90px 0 0 475px; */ border:none; display:block; cursor:default; }

/*.img-checkbox-point { max-width:30px; max-height:30px; }*/
#combo_header{ text-align:left;}

#tabinfo-details-content dd, #tabinfo-details-content  dt {display:inline;}
#tabinfo-details-content dd {font-weight:bold;color:#990000;}
#tabinfo-details-content ul.icons {float:none;display:inline-block;list-style-type:none;}
#tabinfo-details-content ul.icons li{float:left;margin-right:0;line-height:0;padding:1px 1px 1px 12px;}
#tabinfo-details-content ul.icons li img{display:inline-block;max-height:18px;}

#tabinfopanel .infotrcontent td, .infotrcontent th{padding-top:4px;}
#tabinfopanel th a{font-size:14px;text-decoration:none;}
#tabinfopanel .tabs img{width:45px;}

#tabinfo-details-content2 dd, #tabinfo-details-content2  dt {display:inline;}
#tabinfo-details-content2 dd {font-weight:bold;color:#990000;}
#tabinfo-details-content2 ul.icons {float:none;display:inline-block;list-style-type:none;}
#tabinfo-details-content2 ul.icons li{float:left;margin-right:0;line-height:0;padding:1px 1px 1px 12px;}
#tabinfo-details-content2 ul.icons li img{display:inline-block;max-height:18px;}

#tabinfopanel2 .infotrcontent td, .infotrcontent th{padding-top:4px;display:inline-block;padding:5px;}
#placename span{ color:#c00000;}

#roadmapplace-box_panel #box-header{float:left;}
.more_deal_info{float:right;}

/*.infoheader label, .tablehotdeal label, .tablehotdeal input{display:none;}*/
.inlineDiv{display: inline-table;font-size: 12px; color: #c00000;}
